@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.cabecalho {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0.1px #727171;
    padding: 20px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

.cabecalhoLogo {
    display: flex;
    align-items: center;
}

.cabecalhoLogo img {
    width: 158px;
    height: 56px;
}

.cabecalhoNav {
    display: flex;
    align-items: center;
    width: 100%;
}

.centerLinks {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.cabecalhoLista {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.cabecalhoListaItem {
    list-style: none;
    margin: 0 15px;
}

.loginItem {
    margin-left: auto;
}

.cabecalhoListaItem a,
.loginItem a {
    text-decoration: none;
    color: #35A63A;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    background: none;
    border: none;
}

.cabecalhoListaItem a:hover,
.cabecalhoListaItem a:active,
.cabecalhoListaItem a:focus {
    padding: 15px;
    transition: all 0.6s;
    color: #fff;
    background: #008D1F;
    border-radius: 15px;
}

.loginItem a:hover,
.loginItem a:active,
.loginItem a:focus {
    padding: 10px 15px;
    transition: all 0.6s;
    color: #fff;
    background: #008D1F;
    border-radius: 15px;
}

.cabecalhoButton {
    display: none;
}

@media (max-width: 990px) {

    .cabecalho {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }

    .cabecalhoButton {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 30px;
        right: 20px;
        cursor: pointer;
        z-index: 9999;
        background: transparent;
        border: none;
        padding: 0;
    }

    .cabecalhoButton span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #35A63A;
        margin-bottom: 5px;
        position: relative;
        transform-origin: center;
        transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .cabecalhoLista {
        display: none;
        width: 100%;
        padding: 20px;
    }

    .cabecalhoLista.active {
        display: block;
    }

    .cabecalhoLista li {
        display: block;
        padding: 10px;
        text-align: center;
    }

    .cabecalhoLista li a {
        display: block;
        color: #35A63A;
        font-size: 20px;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
    }

    .cabecalhoButton.active span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .cabecalhoButton.active span:nth-child(2) {
        opacity: 0;
    }

    .cabecalhoButton.active span:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
}