@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


.footer {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rights {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0.1px #727171;
    padding: 20px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.socialIcons {
    display: flex;
    gap: 70px; 
    margin-top: 25px;
}

.text {
    text-align: center;
    margin-top: 25px; 
    margin-bottom: 50px;
}

.text p {
    margin-bottom: 10px;
    font-size: 15px;
}